cloudApp/.idea/.gitignore
cloudApp/.idea/compiler.xml
cloudApp/.idea/encodings.xml
cloudApp/.idea/jarRepositories.xml
cloudApp/.idea/misc.xml
cloudApp/.idea/vcs.xml
remoteControlApp/.idea/compiler.xml
remoteControlApp/.idea/jarRepositories.xml
remoteControlApp/.idea/misc.xml
remoteControlApp/.idea/vcs.xml
remoteControlApp/.idea/.gitignore
remoteControlApp/.idea/uiDesigner.xml
